body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color:black;
    color: white;
  }
  
  header {
    text-align:center;
  }
  
  h1 {
    font-family: , cursive;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(205, 0, 26);
    padding: .5em;
    margin: .5em;
  }
  
  h2 {
    text-align: left;
    font-size: 20px;
    background-color: black;
  }
  
  
  #section-about {
    background-color: rgb(0, 110, 255);
    color: white;
    margin: 2em;
    padding: 2em;
    width: 100%;
    
  }
  
  #one-photo {
    float: left;
    margin: 0 15px 0 0;
  }
  
